{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
  <p>{{rid}}</p>
{% endblock %}

{% block scripts %}
  <script src="/socket.io/socket.io.js"></script>
{% endblock %}
